p{
    font-size: 0.7cm;
}
a{
    font-size: 0.9cm;
    color: black;
}
h1{
    font-size: 1.2cm;
      text-align: center;
      background-color: aquamarine;
    
}
h2{
    font-size: 0.9cm;
    background-color: grey;
}